# Generated during build process
/public/css/app.css
/public/version.txt
/src/bun/public.ts
/dist

# Packages
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporarily files for Junie to consume
/.junie-context/

# Testing
/reports/
/test-results/
/fixtures/
